{% extends 'base.html.twig' %}

{% block title %}Plane{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center">
    <h1>Plane</h1>

    <table class="table w-50">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plane.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ plane.name }}</td>
            </tr>
            <tr>
                <th>Max_passengers</th>
                <td>{{ plane.maxPassengers }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ plane.company }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ plane.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plane_index') }}">back to list</a>

    <a href="{{ path('app_plane_edit', {'id': plane.id}) }}">edit</a>

    {{ include('plane/_delete_form.html.twig') }}
</div>
{% endblock %}
