{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Traveller</th>
                <th>Flight</th>
                <th>Type</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.traveller }}</td>
                <td>{{ ticket.flight }}</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.price }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
