{% extends 'base.html.twig' %}

{% block title %}Flight index{% endblock %}

{% block body %}
    <h1>Flight index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Origin</th>
                <th>Arrival</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.date }}</td>
                <td>{{ flight.time }}</td>
                <td>{{ flight.origin }}</td>
                <td>{{ flight.arrival }}</td>
                <td>
                    <a href="{{ path('app_flight_show', {'id': flight.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_flight_edit', {'id': flight.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flight_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
